*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family:  'Josefin Sans', sans-serif;
}

.main-body{
  display: flex;
  flex-direction: column;
}

.navigation{
  padding: 1em;
}

.list{
  /* border: 1px solid greenyellow; */
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 10vh;
  align-items: center;
  padding: 2vh;
}

.list #main-header{
  font-size: 4em;
  font-family: cursive;
}

.hero{
  background-image: url('./hero.jpeg');
  height: 60vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:  column;
  justify-content: center; 
  align-items: center;
  /* border: 1px solid white; */
}

.hero .header-hero{
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  text-align: center;
  width: 50vw;
 
}

.header-hero h1{
  /* border: 1px solid goldenrod; */
  color: white;
  padding: .3em;
}

.hero .button{
  display: flex;
  /* border: 1px solid white; */
  width: 100vw;
  color: red;
  justify-content: center;
  height: 10vh;
  align-items:center;
}

.button button{
  height: 5vh;
  width: 20vw;
  background-color: lightcoral;
  color: white;
  border-radius: 4px;
  font-size: 1em;
  text-align: center;
}

button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}


.hero-1{
  height: 60vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.hero-1 #hero-1-header{

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  padding: 5em 0;
  /* border: 1px solid black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#hero-1-header h1{
  padding: .1em;
}



.hero-1 .box-cards{
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
}

.box-cards .box{
  /* border: 1px dotted green; */
  text-align: center;
  padding: 5em;
}

.box-cards{
  padding: 10em 0;
  /* border: 1px solid black; */
}

.box  h1, p, button{
  padding: .5em;
}

.box img{
  width: 80px;
  height: 80px;
}

.hero-2{
  height: 60vh;
  display: flex;
  /* border: 1px solid green; */
  margin-top: 12.7vh;
}


.hero-2 .image{
  width: 40%;
  background-image: url('./creator.jpg');
  background-size: cover;
  background-position: center -100px;
  background-repeat: no-repeat;
}

.hero-2 .about{
  /* display: flex;
  flex-direction: column; */
  padding: 5em;

}

.about h1, p, button{
  padding: 0.5em;
  text-align: left;
}

.about p{
  margin-left: 10px;
}

.about button{
  margin-left: 17px;
}

.popular-post{
  height: 60vh;
  padding: 5em 0;
  /* border: 1px solid black; */
}

.popular-post .container{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid green; */
  margin-bottom: 5em;
}

.popular-post h1{
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Righteous', cursive;
}

.popular-post img{
  height: 40vh;
  width: 30vw;
}








